th{
	background-color:lightgreen;
}

.sticky_table thead th{
  /* 縦スクロール時に固定する */
  position: -webkit-sticky;
  position: sticky;
  border:sticky;
  top: 0;
  z-index: 5;
  
}

.sticky_table tbody td{
  /* 縦スクロール時に固定する */
  position: -webkit-sticky;
  position: sticky;
  top:0;
  
   /* 高さが変わらないよう改行させない */
  white-space: nowrap;
 
}

.sticky_table_wrapper {
  overflow-y: auto;
  width: 68em;
  height:300px;
  
}

.ID{
	width:2em;
}

.time{
	width:9em;
}

.To{
	width:5em;
}

.From{
	width:25em;
}

.From_c{
	width:14em;
}

.From_n{
	width:11em;
}

.message{
	width:20em;
}

.message_h{
	width:6em;
}
