th{
	background-color:lightgreen;
}

/*.sticky_table tbody td{
	border-top:0px none;
}*/

.sticky_table thead th,tbody td{
	
	position: sticky;
	top: 0;
	z-index:2;
  
}

.sticky_table tbody td{
	
	position: sticky;
	top:0;
	z-index:0;
	 /* 高さが変わらないよう改行させない */
	white-space: nowrap;
 
}

#header{
	
	position:sticky;
	top: -1px;
	z-index:1;
}


.ID{
	width:3em;
}

.time{
	width:9em;
}

.To{
	width:5em;
}

.From{
	width:25em;
}

.From_c{
	width:14em;
}

.From_n{
	width:11em;
}

.message{
	width:15em;
}

.message_h{
	width:10em;
}







